/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;


}
h1,h2,h3,h4,h5{
    font-family: 'Sen', sans-serif;

}
.container{
    max-width:1440px;
    width:100%;
    margin: 0 auto;
	
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  font-family: sans-serif;
}
.block{
	
	width:100%;
	
}
.main-header {
	max-width:1440px;
    width:100%;
    margin: 0 auto;
	background: #232536;
  }


  
  .btn--white {
	background: #fff;	
	color: #232536;
 float:right;
	margin-top:-48px;
	margin-right:60px;
	font-weight: 700;
	font-size: 18px;
	
	line-height: 24px;
	padding: 10px 30px;
	text-decoration: none;
		display: inline-block;
	
  }
  .main-nav ul {
	margin-left:830px;
	float: left;
	list-style: none;
	padding-top:-60px;
	
  }
  
  .main-nav li {
	float: left;
	margin-right: 40px;
	
  }
  
  .main-nav li a {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: white;

  }
  
  .main-nav .active {
	font-weight: 900;
	color: #212353;
	margin-top:-35px;
	

  }
  .logo img {
margin-left:80px;
	margin-top:20px;
  }
  
.hero-block{
	background: url(assets/hero-image.png) no-repeat;

	background-position-y: bottom;

	
}

.main-content{
	width:100%;

}

.hero-text {
	margin-top: -600px;
	margin-left:80px;
	
	font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 3px;
text-transform: uppercase;

/* Light */

color: #FFFFFF;
}
.hero-textt{
	padding-top:30px;
	margin-left:80px;
	font-weight: 700;
font-size: 56px;
line-height: 64px;
/* or 114% */

letter-spacing: -2px;

/* Light */

color: #FFFFFF;
}
.hero-texxt{
	padding-top:30px;
	margin-left:80px;
	font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


/* Light */

color: #FFFFFF;
}
.hero-ttext{
	padding-top:30px;
	margin-left:80px;
	font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Light */

color: #FFFFFF;
}
.btn--yello{
	
		background-color:  #FFD050;;
		color: black;
		margin-top:48px;
		margin-left:80px;	
		padding: 16px 48px;	
	font-weight: 700;
	font-size: 18px;	


	text-decoration: none;
		display: inline-block;
}

	.features-content {
		margin-top: 175px;
	}
	
	
	.col-feature {
		width: 50%;
		
		padding-left: 80px;
		
	  }
	  .row-feature {
		margin-left: -80px;
		
	  }
   .title {
	padding-top:128px;
	margin-left:80px;
	font-weight: 700;
font-size: 36px;
line-height: 48px;
/* identical to box height, or 133% */

letter-spacing: -2px;

/* Black */

color: #232536;
   }
   .feature-img{
	margin-left:112px;
	margin-top:64px;
   }
.p{
	
	margin-top:32px;


line-height: 20px;
/* identical to box height, or 143% */


/* Dark Grey */

color: #4C4C4C;
}
.p1{
	margin-top:16px;
	font-weight: 700;
font-size: 28px;
line-height: 40px;
/* or 143% */

letter-spacing: -1px;

/* Black */

color: #232536;
width:50%;
}
.p2{
	margin-top:16px;
	font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Medium grey */
width:50%;
color: #6D6E76;
}
.btnn--yello{
	
	background-color:  #FFD050;;
	color: black;
	margin-top:48px;
		
	padding: 16px 48px;	
font-weight: 700;
font-size: 18px;	


text-decoration: none;
	display: inline-block;
}
.about-immage{
	
float: right;
		margin-top: 120px;

background: #FFD050;
transform: matrix(1, 0, 0, -1, 0, 0);
}
.feature-item{
	padding-top:12px;
}
.aboutus-block{
	margin-top:128px;
	margin-left:380px;
	
	
}
.aboutus{
	background: #F4F0F8;
	width: 1440px;
height: 700px;
}
.texxxt{
	font-weight: 600;

line-height: 20px;
/* identical to box height, or 125% */
margin-top:109px;
letter-spacing: 3px;
margin-left:-250px;

/* Black */

color: #232536;
}
.paragraf{
	font-weight: 700;
font-size: 36px;
line-height: 48px;
/* or 133% */
margin-left:-250px;
letter-spacing: -2px;
margin-top:30px;
width:50%;

/* Black */

color: #232536;
}
.pp{
	font-weight: 400;
font-size: 16px;
line-height: 28px;
margin-left:-250px;
/* or 175% */
margin-top:30px;
width:50%;

/* Medium grey */

color: #6D6E76;
}
.btnnn{
	
	margin-top:30px;
	text-decoration: none;
	font-weight: 700;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */

display: flex;
align-items: center;

/* Purple */

color: #592EA9;
padding-left:150px;
	
}
.teexxt{
	font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 3px;
text-transform: uppercase;

/* Black */

color: #232536;
right: 579px;
}
.paragraff{
	font-weight: 700;
font-size: 28px;
line-height: 40px;
/* or 143% */

letter-spacing: -1px;
margin-top: 24px;

/* Black */


color: #232536
}
.ppp{
	


line-height: 28px;
/* or 175% */
margin-top:16px;

/* Medium grey */


color: #6D6E76;
}
.navbar{
	background-color:  #F4F0F8;;
	height: 519px;
	margin-top:22px;
	width:100%;
}
.ntext{
	margin-left:80px;
padding-top:121px;

line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 3px;
text-transform: uppercase;

/* Black */

color: #232536
}
.np{
	margin-top:20px;
	padding-left:80px;
	font-weight: 700;
font-size: 36px;
line-height: 48px;
/* or 133% */

letter-spacing: -2px;

/* Black */

color: #232536;
}
.npp{
	margin-top:16px;
	margin-left:80px;
	font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Dark Grey */

color: #4C4C4C;
}
.np1{
	margin-left:80px;
	margin-top:16px;
	font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Medium grey */

color: #6D6E76;
}
.right{
	margin-top:-350px;
	margin-left: 800px;
}
.imagge{
	margin-top:121px;
}
.btnn--yelloo{
	background-color:  #FFD050;
		color: black;
		
		margin-left:80px;	
		padding: 16px 48px;	
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;

}
.nbtn{
	margin-top:48px;
}
.nimage{
	margin-top:-350px;
	margin-left: 850px;
}
.posth{
	margin-top:42px;
	margin-left:80px;
	font-weight: 700;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */

letter-spacing: -2px;

/* Black */

color: #232536;
}
.cards{
	margin-top:64px;
}
.ctext {
margin-top:-266px;
margin-left:604px;
}
.cardsp{
	
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 3px;
text-transform: uppercase;

/* Purple */

color: #592EA9;
}
.cardspp{
	margin-top:20px;
	font-weight: 700;
font-size: 36px;
line-height: 48px;
/* or 133% */

letter-spacing: -2px;

/* Black */

color: #232536;
}
.cardsppp{
	margin-top:16px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */
	
	
	/* Medium grey */
	
	color: #6D6E76;
}
.poost{
	margin-top:90px;
}
.ptext {
	margin-top:-266px;
	margin-left:604px;
	}
	.postppp{
		margin-top:16px;
		
		font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		/* or 175% */
		
		
		/* Medium grey */
		
		color: #6D6E76;
	}
	.postp{
	
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height, or 125% */
		
		letter-spacing: 3px;
		text-transform: uppercase;
		
		/* Purple */
		
		color: #592EA9;
		}
		.postpp{
			margin-top:20px;
			font-weight: 700;
		font-size: 36px;
		line-height: 48px;
		/* or 133% */
		
		letter-spacing: -2px;
		
		/* Black */
		
		color: #232536;
		}
		.group{
			margin-top:116px;
		}
		.gtext{
			margin-top:-266px;
	margin-left:604px;
		}
		.groupp{
	
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			/* identical to box height, or 125% */
			
			letter-spacing: 3px;
			text-transform: uppercase;
			
			/* Purple */
			
			color: #592EA9;
			}
			.grouppp{
				margin-top:20px;
				font-weight: 700;
			font-size: 36px;
			line-height: 48px;
			/* or 133% */
			
			letter-spacing: -2px;
			
			/* Black */
			
			color: #232536;
			}
			.groupppp{
				margin-top:16px;
				
				font-weight: 400;
				font-size: 16px;
				line-height: 28px;
				/* or 175% */
				
				
				/* Medium grey */
				
				color: #6D6E76;
			}
			.people{
				margin-top:142px;
			}
			.pptext{
				margin-top:-266px;
		margin-left:604px;
			}
			.peoplep{
		
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;
				/* identical to box height, or 125% */
				
				letter-spacing: 3px;
				text-transform: uppercase;
				
				/* Purple */
				
				color: #592EA9;
				}
				.peoplepp{
					margin-top:20px;
					font-weight: 700;
				font-size: 36px;
				line-height: 48px;
				/* or 133% */
				
				letter-spacing: -2px;
				
				/* Black */
				
				color: #232536;
				}
				.peopleppp{
					margin-top:16px;
					
					font-weight: 400;
					font-size: 16px;
					line-height: 28px;
					/* or 175% */
					
					
					/* Medium grey */
					
					color: #6D6E76;
				}
				.photo2{
					margin-top:168px;
				}
				.photo2text{
					margin-top:-266px;
			margin-left:604px;
				}
				.photo2p{
			
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					/* identical to box height, or 125% */
					
					letter-spacing: 3px;
					text-transform: uppercase;
					
					/* Purple */
					
					color: #592EA9;
					}
					.photo2pp{
						margin-top:20px;
						font-weight: 700;
					font-size: 36px;
					line-height: 48px;
					/* or 133% */
					
					letter-spacing: -2px;
					
					/* Black */
					
					color: #232536;
					}
					.photo2ppp{
						margin-top:16px;
						
						font-weight: 400;
						font-size: 16px;
						line-height: 28px;
						/* or 175% */
						
						
						/* Medium grey */
						
						color: #6D6E76;
					}
					.footer{
						margin-top:100px;
						height:560px;
						background-color:  #232536;;
					}
					.activ{
						
					}
					.end{
						height:256px;
						
					}
					.etext{
                         margin-top:128px;
						 text-align: center;
					}
					.endp{
						font-weight: 700;
						margin-top:15px;
font-size: 36px;
line-height: 48px;
/* or 133% */

text-align: center;
letter-spacing: -2px;

/* Black */

color: #232536;
					}
					.endt{
						font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

text-align: center;

/* Medium grey */

color: #6D6E76;
					}
					.bbtn{
					margin-top:50px;
						background-color:  #FFD050;
		color: black;
		
	
		padding: 16px 48px;	
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
					}